

body{
    background-image: url("/images/0261.png");
    background-size: 100%;
}

.navBar{
    background-color: #DEB887;
}
.navbar a{
    color: #A52A2A;
}

.navbar-toggler-icon{
    border: 2px solid black;
    border-radius: 10px;
    /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); */
    background-color: antiquewhite;
}

#nav-button{
    border: none;
    border-style: none;
}

.home-container{
    background-image: url("/images/parchment-background-adobe-300x300.jpeg");
}

.intro_div{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
}